body{
    background-color:#fffefe;
    letter-spacing:.1em;
    box-sizing: border-box
}

header{
	background-color:#00BFFF;
	color: midnightblue;
	text-align: center;
	font-family:"Trebuchet MS",serif;
	font-size:20px;
	font-style:bold;
	border-radius: 10px;
	margin-right:5px;
	margin-left:5px;
}

#centre{
	background-color:#f8cea4;
	height : 400px;
	float : center;
	padding-top:5px;
	border-radius: 10px;
	margin-left:220px;
	margin-right:5px;
	font-size:normal;
  font-family:"arial",serif;
  padding-left:5px;
  font-weight:bold;
}

.colone {
  float: left;
  padding: 10px; 
  border-radius: 10px;
}

.menu::after {
  content: "";
  clear: both;
  display: table;
}

.gauche {
  width: 20%;						                	/*Taille du menu a gauche*/							
  font-family:"Trebuchet MS",serif;
  font-weight:bold;
  text-align: center;
}

.centre {							                  	/*Parametre du volet centrale*/
  background-color:#E4E2E0;
  float: center;
  font-size:normal;
  font-family:"arial",serif;
  padding-left:5px;
  font-weight:bold;
  width: 76%;
  border-radius: 10px;
}

.gauche ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gauche button {
  font-size:18px;                       /*Taille du texte a gauche*/
  padding: 8px;
  margin-bottom: 8px;
  background-color: #E4E2E0;      			/*Couleur du fond a gauche*/
  color: #000000;					            	/*Couleur du texte a gauche*/
  border-radius: 10px;					
}

.gauche button:hover {
  background-color: #A9A9A9;
}


footer{                                 /*Defini les paramètres du bas de la page*/
	background-color:#00BFFF;
	color: midnightblue;
	text-align: center;
	font-family:"Trebuchet MS",serif;
	font-size:20px;
	font-style:bold;
	border-radius: 10px;
	margin-right:5px;
	margin-left:5px;
}