@import url(./gate.css);
@import url(./sequence.css);
@import url(./keyboard.css);
@import url(./history.css);

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: #000;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    padding: 10px;
    box-sizing: border-box;
}

body > div {
    display: flex;
    height: 50%;
    margin-bottom: 10px;
}

body > div:last-of-type {
    margin-bottom: 0;
}

body > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

